@model Web.Models.ArticleDetailsViewModel

@{
    ViewData["Title"] = "Article";
}

<input asp-for="Id" type="hidden" />

<div class="row mb-4">
    <div class="col-md-12">
        <h3>@Model.Title</h3>
        <p class="article-author">By <a href="#">@Model.Author</a> on @Model.PublishDate.ToString("MMMM dd, yyyy")</p>
        <p>@Model.Body</p>
        <div class="row">
            <div class="col-sm-1">
                <a id="LikeOrDislike" href="#" class="mr-3">
                    <i class="material-icons md-35 @(Model.LikedByMe ? "md-active" : "md-inactive")">thumb_up_alt</i>
                    <strong><span id="LikesCount" style="@(Model.LikesCount < 1 ? "display: none;" : "")">@Model.LikesCount</span></strong>
                </a>
            </div>
            <div class="col-sm-1">
                <a id="Comment" href="#"><i class="material-icons md-35 md-inactive">question_answer</i></a>
            </div>
        </div>
    </div>
</div>

<div class="comment-row" style="display: none;">
    <div class="row">
        <div class="col-12">
            <div class="input-group mb-3">
                <textarea id="CommentBody" class="form-control" placeholder="Your comment"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
            <button id="AddComment" type="button" class="btn btn-primary pull-right">Add</button>
        </div>
    </div>
</div>

<div class="mb-4">
    <a asp-action="Articles">Back to articles</a>
</div>

<div class="card" style="@(Model.Comments.Count < 1 ? "display: none;" : "")">
    <div class="card-header"><strong>Comments</strong></div>
    <div class="card-content">
        @for (int i = 0; i < Model.Comments.Count; i++)
        {
            await Html.RenderPartialAsync("_Comment", Model.Comments[i]);
        }
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#LikeOrDislike').click(function (e) {
                e.preventDefault();
                var icon = $(this).find('i');
                if (icon.hasClass('md-inactive')) {
                    icon.removeClass('md-inactive').addClass('md-active');
                } else {
                    icon.removeClass('md-active').addClass('md-inactive');
                }

                var articleId = $('#Id').val();

                $.post('/News/LikeOrDislikeArticle', { id: articleId }).done(function (likesCount) {
                    if (likesCount > 0) {
                        $('#LikesCount').show().text(likesCount);
                    } else {
                        $('#LikesCount').hide();
                    }
                });
            });

            $('#Comment').click(function (e) {
                e.preventDefault();
                $('#CommentBody').val('')
                var icon = $(this).find('i');
                if (icon.hasClass('md-inactive')) {
                    icon.removeClass('md-inactive').addClass('md-active');
                    $('.comment-row').show();
                } else {
                    icon.removeClass('md-active').addClass('md-inactive');
                    $('.comment-row').hide();
                }
            });

            $('#AddComment').click(function (e) {
                e.preventDefault();
                var commentText = $('#CommentBody').val();
                if (commentText.trim() !== '') {
                    var articleId = $('#Id').val();

                    $.post('/News/Comment', { id: articleId, text: commentText }).done(function (commentHtml) {
                        var icon = $('#Comment > i');
                        icon.removeClass('md-active').addClass('md-inactive');
                        $('.comment-row').hide();
                        $('.card-content').append(commentHtml);
                        $('.card').show();
                    });
                }
            })
        });
    </script>
}
